@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #e6e4e1;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(247, 78, 78) ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Amita, cursive
}


header, h1 {
    text-align: center;
    color: white;
    font-size: 1.6em;

}


html, body {
    min-height: 100vh;
}


.hero  {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px;
    /* border: 1px solid red; */
}

.box-img {
    display: flex;
    justify-content: center;
    width: 35%;

    /* border: 1px solid rgb(21, 122, 38); */
}
.gayz {
    width: 400px;
}

.box-txt {
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    /* border: 1px solid rgb(230, 127, 9); */
}

.box-txt h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 3em;
    color: rgb(172, 9, 9);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 40px;
}
.box-txt p {
    color: rgb(107, 96, 96);
}

.btn {
    background-color: rgb(172, 9, 9);
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    transition: 0.5s all;
    margin: 2em;
}


.btn:hover {
    background-color: rgb(226, 216, 216);
    color: rgb(179, 9, 9);
    border: 1px solid rgb(172, 9, 9);
}

.especialidades  {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-left: 10%;
    width: 80%;
}
.box-item {
    width: 30%;
    height: 350px;
    background-color: rgb(247, 78, 78);
    padding: 30px 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.box-item h2 {
    color: #000000;
}
.box-item p {
    color: rgb(0, 0, 0);
}
footer {
    background-color: rgb(247, 78, 78);
    width: 100%;
    height: 70px;
}
.final {
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 100px;
    background-color: rgb(247, 78, 78);
    color: #fff;
    font-size: 20px;
}

.final p {
    display: flex;
    justify-content: left;
    align-items: left;

}


.txta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.txta h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(247, 78, 78);
    padding-top: 40px;

}

.txta p {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: rgb(107, 96, 96);
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;

}

.imgi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgi img {
    width: 50%;
    height: 50%;
}

.bti {
    background-color: rgb(172, 9, 9);
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    transition: 0.5s all;
    margin: 2em;
}

.bti:hover {
    background-color: rgb(226, 216, 216);
    color: rgb(179, 9, 9);
    border: 1px solid rgb(172, 9, 9);
}

.imgi p {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: rgb(107, 96, 96);
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.azul   {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: column;
}
.rosa {
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    flex-direction: column; /* Mantém a estrutura em coluna */
    background-color: #000000;
    height: 50%;
    width: 50%; /* Ajuste a largura conforme necessário */
    padding: 20px; /* Adiciona um pouco de espaçamento interno */
    border-radius: 15px;
}

.rosa a {
    text-decoration: none;
    color: rgb(247, 78, 78);
    font-family: "DM Sans", sans-serif;
}
.rosa p  {
    color: rgb(107, 96, 96);
}


@media screen and (max-width: 1200px){
    .hero {
        flex-direction: column-reverse;
        width: 80%;
    }

    header {
        font-size: 20px;
    }

    .box-txt {
        flex-flow: column wrap;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px 30px;
    }

    .boxtxt {
        font-size: 30px;
    }
    .box-txt h2 {
        font-size: 60px;
        line-height: 1.1em;
    }
    .box-txt p {
        text-align: center ;
        font-size: 0.9em;
    }

    .box-item {
        width: 90%;
    }

    .box-item h2 {
        margin-bottom: 15px;
        font-size: 1.1em;
        color: rgb(0, 0, 0);
    }
    .box-item p {
        font-size: 0.8em;
    }

}